:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  /* Typography */
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--white);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 0;
}
/* HEADER STYLE */
.page-header {
  border-bottom: 1px solid var(--cornflower);
  max-width: 1440px;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  align-items: center;
  display: flex;
  width: 261px;
}

.logo-header {
  /* Positioning */
  margin-right: 76px;
  /* Box model */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  /* Typography */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.accent-header {
  color: var(--iris);
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.header-contacts {
  font-style: normal;
}

.list-contacts {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.contacts-link {
  display: block;
  text-decoration: none;
  color: var(--slate);
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/* 
MAIN SECTION
SECTION HERO 
*/
.section-hero {
  padding: 188px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* Visual */
  background-color: var(--navy-blue);
}

.section-hero .container {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  /* Box model */
  max-width: 496px;
  /* Typography */
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.order-button {
  /* Positioning */
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  /* Box model */
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  /* Typography */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white);
  /* Visual */
  border-radius: 4px;
  border: none;
  background: var(--iris);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}
/* 
SECTION FEATURES 
*/

.features-list {
  width: 1128px;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.features-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}

.features-title {
  margin-bottom: 8px;
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
/*
SECTION TEAM
*/
.section-team {
  background: var(--cloud);
}

.section-team .container {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  margin-bottom: 72px;
  /* Typography */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.team-item {
  padding: 0px 0px 32px;
  /* Box model */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  flex-basis: calc((100% - 72px) / 4);

  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-container {
  width: 232px;
  padding: 32px 16px;
}

.team-specialist {
  margin-bottom: 8px;
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
}

.team-job-title {
  text-align: center;
}
/* 
PORTFOLIO SECTION 
*/

.portfolio .container {
  /* Box model */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-title {
  margin-bottom: 72px;
  /* Typography */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.portfolio-item-container {
  width: 360px;
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
/* 
PAGE FOOTER 
*/

.page-footer {
  padding: 100px 0;
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--navy-blue);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  /* Typography */
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-accent {
  color: var(--iris);
}

.footer-text {
  max-width: 264px;
  color: var(--cloud);
}
