body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 100px 0;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.card-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  display: none;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-nav,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.header-nav {
  gap: 76px;
}

.header-logo {
  padding: 24px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.nav-list,
.contacts-list {
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.section-hero {
  padding: 200px 0;
  background-color: #2e2f42;
}

.hero-title {
  max-width: 600px;
  margin: 0 auto 50px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: 25%;
}

.section-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  padding-bottom: 30px;
}

.team-subtitle,
.team-text {
  text-align: center;
  margin-top: 20px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  width: 300px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
