body {
  font-family: 'Roboto';
  font-size: 16px;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.Logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.sectionTitle {
  margin-bottom: 72px;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: bold;
}

.cardSubtitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.card-text {
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.Header {
  border-bottom: 1px solid #e7e9fc;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_nav,
.navList,
.contacts-list {
  display: flex;
  align-items: center;
}

.Header_nav {
  gap: 76px;
}

.header-logo {
  padding: 24px 0;
}

.logoPart {
  color: #2e2f42;
}

.navLink {
  display: block;
  padding: 24px 0;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #2e2f42;
  font-family: 'Roboto';
}

.Contacts {
  font-style: italic;
}

.navList,
.contacts-list {
  gap: 40px;
}

.contactsLink {
  display: block;
  padding: 24px 0;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.navLink:hover,
.navLink:focus,
.contactsLink:hover,
.contactsLink:focus {
  color: #404bbf;
}

.SectionHero {
  padding: 188px 0;
  background-color: #2e2f42;
}

.heroTitle {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.heroBtn {
  display: block;
  margin: 0 auto;
  padding: 0 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #4d5ae5;
}

.heroBtn:hover,
.heroBtn:focus {
  background-color: #404bbf;
}

.benefitsList {
  display: flex;
  gap: 24px;
}

.benefitsItem {
  width: calc((100% - 72px) / 4);
}

.sectionTeam {
  background-color: #f4f4fd;
}

.teamList {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.teamContent {
  padding: 32px 16px;
}

.teamSubtitle,
.teamText {
  text-align: center;
}

.portfolioList {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolioItem {
  width: calc((100% - 48px) / 3);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.pageFooter {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footerLogo {
  display: inline-block;
  margin-bottom: 16px;
}

.footerLogo .logoPart {
  color: #f4f4fd;
}

.footerText {
  max-width: 264px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
